<main class="container-fluid">
  <app-carousel></app-carousel>
  <app-card-kategori></app-card-kategori>
  <div class="container my-5">
    <div class="row">
      <div
        class="col-md-2 my-2"
        *ngFor="
          let product of productIndex | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalRecord }
        "
      >
        <app-card [productItems]="product"></app-card>
      </div>
    </div>
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      responsive="true"
      (pageChange)="changePageHandler($event)"
    ></pagination-controls>
  </div>
</main>
